.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.button{
    width: 55px;
  height: 55px;
  margin: 3px;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    border: 1px solid #181717;
    border-radius: 5px;
    cursor: pointer;
}